.applicationlogo {
    pointer-events: none;
}

.browser.main.body {
    margin: auto;
    /* background-color: white; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}